<div class="container ">
  <h1 class="fs-1">Login</h1>
  <form [formGroup]="loginForm"    (ngSubmit)="logIn(loginForm)">
    <label>email:</label>
  <input formControlName="email" type="text" class="form-control">
  <p *ngIf="loginForm.get('email')?.getError('required') && loginForm.get('email')?.touched" class="text-danger">Email is required </p>
  <p *ngIf="loginForm.get('email')?.getError('email')" class="text-danger">Email is Invalid </p>
  

  <label>Pasowrd:</label>
  <input formControlName="password" type="text" class="form-control">
  <p *ngIf="loginForm.get('password')?.getError('required') && loginForm.get('password')?.touched" class="text-danger">password is required</p>
  <p *ngIf="loginForm.get('password')?.getError('pattern') && loginForm.get('password')?.touched"  class="text-danger">password Invalid </p>
  <button class="btn bg-main mt-2">login</button>
  <p class="text-danger">{{apiResponse}}</p>
  </form>

</div>
